/*
 * Lao Sans Pro (Lao) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Defago Noto Sans Lao';
  font-style: normal;
  font-weight: 400;
  src: url('Defago Noto Sans Lao v2.3.ttf')
}

@font-face {
  font-family: 'Defago Noto Sans Lao';
  font-style: normal;
  font-weight: 700;
  src: url('Defago Noto Sans Lao v2.3 Bold.ttf')
}
