/*
 * Lao Sans Pro (Lao) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Lao';
  font-style: normal;
  font-weight: 400;
  src: url('NotoSansLao-Regular.ttf')
}

@font-face {
  font-family: 'Noto Sans Lao';
  font-style: normal;
  font-weight: 700;
  src: url('NotoSansLao-Bold.ttf')
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('NotoSans-Regular.ttf')
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('NotoSans-Bold.ttf')
}
